<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 <html>
 <head>
 <title>BiblioTK 01 </title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
 <style>
dl {margin-left: 1%;}
dt { font-size: large; font-variant: small-caps; font-weight: 700; }
dd a { font-size: normal; font-weight: 600; font-variant-caps: petite-caps; }
dd { font-size: small; font-weight: 500; margin-left: 3% }
.tit {font-size:normal; font-variant: small-caps; font-weight: 600;  margin-left: 8%; color:chocolate;}
 </style>
 </head>
 <body>
 <h3> Biblioteca de Fabio </h3>
<script type="text/javascript">
var d = new Date();
document.write('<span STYLE="color:chocolate; background-color:cornsilk; width: 30%; text-align:center;">Hecho a las ');
document.write(+d.getHours(),':'+d.getMinutes(),':'+d.getSeconds());
document.write('</span><span>&nbsp</span>');
</script> 
            
<DL>
<DT> Editorial </DT>
<!--                <a href="/editorial"> Editorial </a>-->
 
<DD class="tit"> Usuarios
<DD><a href="/editorial/lista">Lista</a> Listado de las editoriales disponibles </DD>
<DD class="tit">Administración</DD>
<DD><a href="/editorial/formu">Nueva</a> Nuevas editoriales </DD>
<!--<DD><a href="/editorial/listadm">Admin</a> Administrar editoriales </DD>-->
<DT> Autor </DT>
<!--<DD class="tit"> Usuarios
<DD><a href="/autor/lista">Lista</a> Autores disponibles </DD>
<DD class="tit"> Usuarios-->
<DD><a href="/autor/nuevo">Nuevo</a> Agregar autor </DD>
<DD><a href="/autor/lista">Admin</a> Administrar autores</DD>
</DL>

            
  </body>
 </html> 
