<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>BiblioTK 01 </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <style>
            dl {margin-left: 5%;}
            dt { font-size: large; font-variant: small-caps; font-weight: 700; }
            dd a { font-size: normal; font-weight: 600; font-variant-caps: petite-caps; }
            dd { font-size: small; font-weight: 500; margin-left: 3% }
            .tit {font-size:normal; font-variant: small-caps; font-weight: 600;  margin-left: 8%; color:chocolate;}
            table {text-align: center;}
        </style>
    </head>
    <body>
    <main>
            <h3 align=:center> Biblioteca de Fabio </h3>
            <blockquote>
                <script type="text/javascript">
                    var d = new Date();
                    document.write('<div STYLE="color:chocolate; background-color:cornsilk; width: 30%; text-align:center;">Hecho a las ');
                    document.write(+d.getHours(),':'+d.getMinutes(),':'+d.getSeconds());
                    document.write('</div>');
                    //document.write('</div><span>&nbsp</span>');
                </script> 
            </blockquote>

            <DL>
                <DT> Libro </DT>
                <DD><a href="/libro/nuevo">Nuevo</a> Agregar libro </DD>
                
                <DT> Editorial </DT>
                <!--                <a href="/editorial"> Editorial </a>-->
                <!--
                <DD class="tit"> Usuarios
                <DD class="tit">Administración</DD>
                --> 

                <DD><a href="/editorial/nueva">Nueva</a> Agregar editorial </DD>
                <DD><a href="/editorial/lista">Lista</a> Administrar editoriales </DD>

                <!--<DD><a href="/editorial/listadm">Admin</a> Administrar editoriales </DD>-->
                <DT> Autor </DT>
                <!--<DD class="tit"> Usuarios
                <DD><a href="/autor/lista">Lista</a> Autores disponibles </DD>
                <DD class="tit"> Usuarios-->
                <DD><a href="/autor/nuevo">Nuevo</a> Agregar autor </DD>
                <DD><a href="/autor/lista">Admin</a> Administrar autores</DD>
            </DL> 

        </main>


        <!--  Pie y Mensajes  -->
        <footer>
            <table align=center style="width:60%;">
                <tr>
                    <td style="vertical-align: middle; width:20%; text-align: left;"> 
                        <H4 class="card text-white bg-success mb-3" th:text="${titulo}"> 
                        </H4> 
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; width:20%; text-align: right;"> 
                        <div class="card-body"> *
                            <p class="card-text" th:utext="${descripcion}"></p>
                        </div>
                    </td>
                </tr>
            </table>        
        </footer>

         </body>
</html> 
